<div class="card-trip">
  <%=image_tag cocktail.url  %>
  <div class="card-trip-infos">
    <div>
  <h2> <%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
      <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash" id="trash"></i>
      <% end %>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
  </div>
</div>
