

h1 {
  color: white;
  font-size: 50px;
}

#titre {
  font-size: 200px;
}

h2 {
  text-align: left;
  font-size: 30px;
}

.fas{
  color: white;
}

li{
  color: white;
}

a {
  color: black;
}

#trash {
  color: black;
}

#bouton a{
  color: white;
}

label {
  color: white;
}

#home {
  color: white;
}
